@charset "utf-8";
.MenuBar {
	height:40px;
	width:100%;
	position:absolute;
	list-style-type: none;
	margin:0;
	padding:0;
	z-index:1000;

}

.MenuBar li
{
	float: left;
	width: 195px;
	height: auto;
	text-align:center;
	margin:0;
	padding:0;
	list-style-type: none;
    font-family: 'Seymour One', sans-serif;
	background:#272525;
	border-right: 1px solid #666666;
	z-index:1000;
}

.MenuBar a
{
	height:auto;
	color:#FFF;
	text-decoration:none;
	padding: 10px 0;
    display: block;
	z-index:1000;

		
}

.MenuBar  li:hover
{
	background:#004182;
	z-index:1000;

}

.MenuBar li ul
{
	display:none;
	margin:0;
	padding:0;
	width: 195px;
	z-index:1000;

}



.MenuBar li:hover ul
{
	display:block;
	z-index:1000;
}

.MenuBar li ul li
{
	background:#272525;
	width:195px;
	border-bottom: 1px solid #666666;
	z-index:1000;

}

.MenuBar li ul a
{
	text-align:left;
	padding-left: 5px;
	z-index:1000;
}

.TopLink a
{
	height:auto;
	color:#272525;
	text-decoration:none;
	padding: 10px 0;
    display: block;
	z-index:1000;
		
}