vti_encoding:SR|utf8-nl
mailto\:hchang@nd.edu:index.html
/afs/nd.edu/user11/ptakhist/www/elchem/alum/pore/pore01.html:elchem/alum/gold/proc01.html
http\://www.leeds.ac.uk/chemeng/staff/kalliadasis/basic.htm:hcc-p01.html
http\://www.nd.edu/~yben:hcc-p01.html
mailto\:hsueh-chia.chang.2@nd.edu:resume/cv01.htm
